
<p id="flash">message</p>
<form id="sendMessage">
    <label for="message">Type your message here: </label>
    <input type="text" name="message" id="message" required autocomplete="false" autocapitalize="true">
    <input type="submit" value="Send">
    <fieldset>
        <legend>Options</legend>
        <input type="button" id="send-location" value="Send location">
    </fieldset>
</form>

<div name="messages" id="messages" size="20">
    
</div>

<div id="users">
<h2 id="roomTitle"></h2>
<div id="roomMembers">

</div>
</div>